:root {
    --color-primary: #37517e;
    --color-secondary: #6f8691;
    --color-accent: #00b9ff;
    --color-positive: #2ed06e;
    --color-negative: #f53636;
    --color-warning: #ffa600;
    --color-text-primary: #37517e;
    --color-text-secondary: #6f8691;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
